#slogantxt{
    font-size: 140%;
}

.tmn{
	font-size:110%;
	font-weight:bold;
	padding:5px 0;
	display: inline-block;
}

form[id="message"] label{
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    padding: 7px 0;
    width: 65px;
}

form[id="message"] .datepicker{
    width:41%;
    margin-left: 3px;
}

@media only screen and (min-width: 480px) {
    form[id="message"] label{
        margin-left: 0px;    
        width:70px;
    }

    #slogantxt{
        font-size: 160%;
    }
}

@media only screen and (min-width: 520px) {
	form[id="message"] .datepicker{
		width:126px;
	}
}

@media only screen and (min-width: 768px) {
    #slogantxt{
        font-size: 180%;
    }

    .tmn{
        font-size:125%;
    }
}

.home_icon span{
	display: block;
	font-size:130%;
}



.left_ui_article[data-level="2"]>li>*, .left_ui_menu[data-level="2"]>li>*{
	font-size:130%;
/*	font-weight:bold;*/
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;

}


#part_right{
	font-size: 125%;
}

.input_title{
    font-size: 92%;
}

#message_submit{
	font-size: 115%;
	font-weight: bold;
	display:inline-block;
    box-sizing: border-box;	
    width: 150px;
    height: 50px;
    vertical-align: top;
    margin-top:5px;
}

.tel-title{
	display: inline-block;
	min-width:30px;
	padding-right:5px;
}

