#slogantxt{
    font-size: 100%;
}

.tmn{
    font-size:100%;
    font-weight:bold;
    padding:5px 0;
    display: inline-block;
}

@media only screen and (min-width: 480px) {
    #slogantxt{
        font-size: 120%;
    }
}

@media only screen and (min-width: 768px) {
    #slogantxt{
        font-size: 140%;
    }

    .tmn{
        font-size:115%;
    }
}

.home_icon span{
    display: block;
    font-size:90%;
    font-weight: bold;
}



.left_ui_article[data-level="2"]>li>a, .left_ui_menu[data-level="2"]>li>a{
    font-size:120%;
/*  font-weight:bold;*/
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;
}


#part_right{
    font-size: 110%;
}

form[id="message"] label{
    display: inline-block;
    width:62px;
}

form[id="message"] label[class="longlabel"]{
    display: inline-block;
    width:165px;
}

form[id="message"] .datepicker{
    width:122px;
    border:1px solid #55B2CD;
    padding:1px;
    margin-left: 3px;
}

#message_submit{
    font-size: 110%;
    font-weight: bold;
    display:inline-block;
    box-sizing: border-box; 
    width: 100px;
    height: 30px;
    vertical-align: top;
    margin:2px 0;
}

.tel-title{
    display: inline-block;
    min-width:45px;
    padding-right:5px;
}

