#slogantxt{
    font-size: 180%;
    font-weight: bold;
    color: white;
    margin: 0 20px;
    display: inline-block;
    width: 300px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8), 2px 3px 8px rgba(0,0,0,0.5), -2px -3px 16px rgba(0,0,0,0.5) !important;
    position: absolute;
    top: 65px;
    left: 50px;
}

#slogantxt_ie_1, #slogantxt_ie_2, #slogantxt_ie_3, #slogantxt_ie_4{
    color: gray;
    font-size: 180%;
    font-weight: bold;
    margin: 0 20px;
    display: inline-block;
    width: 300px;
    position: absolute;
}

#slogantxt_ie_1{
    top: 64px;
    left: 49px;
}

#slogantxt_ie_2{
    top: 67px;
    left: 52px;
}

#slogantxt_ie_3{
    top: 67px;
    left: 49px;
}

#slogantxt_ie_4{
    top: 64px;
    left: 52px;
}
#slogantxt{
    font-size: 180%;
    font-weight: bold;
    color: white;
    margin: 0 20px;
    display: inline-block;
    width: 300px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8), 2px 3px 8px rgba(0,0,0,0.5), -2px -3px 16px rgba(0,0,0,0.5) !important;
    position: absolute;
    top: 65px;
    left: 50px;
}

#slogantxt_ie_1, #slogantxt_ie_2, #slogantxt_ie_3, #slogantxt_ie_4{
    color: gray;
    font-size: 180%;
    font-weight: bold;
    margin: 0 20px;
    display: inline-block;
    width: 300px;
    position: absolute;
}

#slogantxt_ie_1{
    top: 64px;
    left: 49px;
}

#slogantxt_ie_2{
    top: 67px;
    left: 52px;
}

#slogantxt_ie_3{
    top: 67px;
    left: 49px;
}

#slogantxt_ie_4{
    top: 64px;
    left: 52px;
}



.home_icon span{
	display: block;
	font-size:130%;
}



.left_ui_article[data-level="2"]>li>a, .left_ui_menu[data-level="2"]>li>a{
	display:block;
	font-size:130%;
/*	font-weight:bold;*/
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;
	padding:5px 40px 5px 20px;
	margin-bottom:10px;
	width:170px;
}


.tmn{
	font-size:125%;
	font-weight:bold;
	margin:0 0 0 20px;
	padding:5px 0;
	display: inline-block;
}


#part_right{
	font-size: 125%;
	width: 55%;
	float:right;
}

form[id="message"] label{
	display: inline-block;
	width:70px;
}

form[id="message"] .datepicker{
	width:118px;
	border:1px solid #55B2CD;
	padding:1px;
	margin-left: 3px;
}

#message_submit{
	font-size: 125%;
	font-weight: bold;
	display:inline-block;
    box-sizing: border-box;	
    width: 100px;
    height: 30px;
    vertical-align: top;
    margin:2px 0;
}




.contact_row{
	margin-left:-90px;
}

.contact_cell{
	width:495px;
	min-height: 50px;
	box-sizing:border-box;
	padding-left:90px;
	display: table-cell;
}

.contact_card{
	position:relative;
	padding:30px 25px 0px 60px;
	margin:25px auto;
	min-height: 120px;
	display:block;
	border:1px solid #55B2CD;

	background-color:#F3ED35;
	background-color:#C8FBF8;
    
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.contact_card .ttt{
	padding:5px 20px 5px 45px;
	min-width: 65px;
	background-color:#55B2CD;
	color:white;
	position:absolute;
	display:block;
	top: -15px;
    left: 25px;
    font-size: 110%;
}

.tel-title{
	display: inline-block;
	min-width:30px;
	padding-right:5px;
}

