#slogantxt{
    font-size: 140%;
}

@media only screen and (min-width: 480px) {
    #slogantxt{
        font-size: 160%;
    }
}

@media only screen and (min-width: 768px) {
    #slogantxt{
        font-size: 180%;
    }
}

.home_icon span{
	display: block;
	font-size:130%;
}



.left_ui_article[data-level="2"]>li>a, .left_ui_menu[data-level="2"]>li>a{
	display:block;
	font-size:130%;
/*	font-weight:bold;*/
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;
	padding:5px 40px 5px 20px;
	margin-bottom:10px;
	width:170px;
}


.tmn{
	font-size:125%;
	font-weight:bold;
	padding:5px 0;
	display: inline-block;
}


#part_right{
	font-size: 125%;
}

form[id="message"] label{
	display: inline-block;
	width:70px;
}

form[id="message"] .datepicker{
	width:118px;
	border:1px solid #55B2CD;
	padding:1px;
	margin-left: 3px;
}

#message_submit{
	font-size: 125%;
	font-weight: bold;
	display:inline-block;
    box-sizing: border-box;	
    width: 100px;
    height: 30px;
    vertical-align: top;
    margin:2px 0;
}

.tel-title{
	display: inline-block;
	min-width:30px;
	padding-right:5px;
}

