body{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	color:#333333;
	font-size:12px;
	padding:0px; 
	margin:0px;

	background:transparent url(ic618.png) repeat 0 0;
}

a{
	text-decoration: none;
}

h1{
	font-size:120%;
	color: white;
	text-align:center;
	background-color:#55B2CD;
	padding:5px;
	margin: 0 0 15px 0;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

h2{
	font-size:110%;
	color: white;
	text-align:center;
	background-color:#55B2CD;
	padding:5px;
	margin: 20px 0 5px 0;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

h2:first-child{
	margin: 0 0 5px 0;
}

#content_right p:first-child{
	padding-top: 0px;
	margin-top: 0px;
}

em{
	font-style:normal;
	color:#254B80;
	padding:0 5px;
}

em:first-child{
	padding:0 5px 0 0;
}

#part_left em{
	font-size:120%;
	font-style: normal;
}

.bd{
	font-weight: bold;
}

.total_container{
	min-width:960px;
	width:100%;
}

.total_container>*{
	width:960px;
	padding:0;
	margin:0 auto;
}

#container_header{
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 8px 0 rgba(0,0,0,0.12) !important;
	border-bottom:2px solid #55B2CD;
}

#container_center{
}

#container_footer{
	background-color:#254B80;
	box-shadow:0 -2px 4px 0 rgba(0,0,0,0.16),0 -2px 4px 0 rgba(0,0,0,0.12) !important;
}

#container_footer>*{
	width:100%;
}

#header{
	position:relative;
	height:100px;
	background-color:white;
}

#logoarea{
	display:inline-block;
	position:absolute;
	bottom:15px;
	left:20px;

    text-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.2), 0.3em 0.3em 0.5em rgba(0,0,0,0.1) !important

}

/* company and secteur name */
.tred, .tred *{
	color:#CC3300 !important;
}

.tblue, .tblue *{
    color: #254B80;
}

#company_name {
    display: inline-block;
    font-size: 200%;
    font-weight: bold;
}

#sercteur_name {
    display: inline-block;
    padding-left:30px;
	letter-spacing: 1px;
    font-size: 140%;
    font-weight: bold;
}

#company_name_lang2 {
    display: block;
    font-size: 160%;
    word-spacing: 7px;
	letter-spacing: 1px;
    font-family: impact;
}

#sercteur_name_lang2 {
    display: inline-block;
    font-size: 120%;
    word-spacing: 1px;
    font-family: impact;
}

/********************/

#menuarea{
	display:inline-block;
	position:absolute;
	right:40px;
	bottom:0px;
}

#topemenu_ui{
	display:inline-block;
	list-style: none;
    margin: 0;
}

#crttitle{
	font-size:150%;
	color: white;
	text-align:center;
	background-color:#55B2CD;
	padding:40px 0 10px 0;
	position:absolute;
	bottom:0px;
	width: 100%;
	font-weight: bold;
}

.crt{
	/*background-color: #55B2CD;*/
	border-top: 3px solid #CC3300;
}

.ticon{
	font-weight:bold;
	font-size:250%;
	background-color:#254B80;
	color:white;
	align-vertical:middle;
	text-align:center;
	display:inline-block;
	width:40px;
	padding:10px;
	border-radius: 40px;
	margin:-40px 10px 0 0;

	position: absolute;
	bottom:20px;
	left:20px;
}

.tnc{
	font-weight:bold;
	font-size:200%;
	color:rgb(192,0,0);
}
.tne{
	font-weight:bold;
	font-size:180%;
	color:rgb(84, 141,212);
}
.tmn{
	font-size:120%;
	font-weight:bold;
	margin:0 0 0 20px;
	padding:5px 0;
	display: inline-block;
}
.tmn:hover, .tmn a:hover{
	color:#55B2CD;
}
.tft{
	font-size:80%;
	color:#F1F1F1;
	padding:20px 0 0 0;
	display:inline-block;
}

.card{
	position:relative;
	font-size:80%;
	padding:25px;
	width:60%;
	margin:20px auto;
	display:block;
	border:1px solid #55B2CD;
	background-color:white;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.cardbig{
	position:relative;
	font-size:100%;
	padding:25px;
	width:100%;
	box-sizing:border-box;
	margin:20px 0 35px auto;
	display:block;
	border:1px solid #55B2CD;
	background-color:white;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.card .ttt, .cardbig .ttt{
	padding:5px 20px;
	background-color:#55B2CD;
	color:white;
	position:absolute;
	display:block;
	top: -15px;
    left: 40px;
    font-size: 120%;
}

#center{
	margin-top:0;
	margin-bottom:0;
	position:relative;
	min-height:440px;
/*	overflow: scroll;*/
/*	border-left:1px solid #F6F8F9;
	border-right:1px solid #F6F8F9;
	border-left:3px dashed #B0DBE8;
	border-right:3px dashed #B0DBE8;
*/}

#center::-webkit-scrollbar {
    width: 0em;
}

/* for content with submenu */
#content_right{
	padding:40px 0 20px 280px;
	width:600px;
	margin:0 auto;
	font-size:110%;
	text-align: justify;
}

#left_area{
	position:absolute;
	left:20px;
	top:40px;
}

#left_menu_inner{
	padding:0 0;
}

#left_menu_inner ul{
	list-style: none;
	margin:0px;
	padding:0px;
	text-align: center;
}

.left_ui_article[data-level="2"]>li>a, .left_ui_menu[data-level="2"]>li>a{
	display:block;
	font-size:130%;
/*	font-weight:bold;*/
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;
	padding:5px 40px 5px 20px;
	margin-bottom:10px;
	width:170px;
}

.left_ui_article[data-level="3"]>li>a, .left_ui_menu[data-level="3"]>li>a{
	display:block;
	font-size:130%;
	font-weight:bold;
	color:white;
	background-color:#254B80;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;
	padding:5px 20px;
	margin-bottom:10px;
	width:170px;
}

.left_article>a:hover, .left_menu>a:hover{
	background-color:#376FBE;
}


.left_article_active, .left_menu_active{
    box-shadow: 0 -1px 0 0 #E6E6E6, -1px 0 0 0 #EEEEEE !important;
}

.left_article>a, .left_menu>a{
	color:white;
	background-color:#254B80;
}


/* for page with part left and right*/
.content_parts{
	padding:20px 40px 10px 20px;
}

#part_left{
	width: 40%;
	box-sizing:border-box;
	margin-top:20px;
	padding:10px 20px;
	font-size: 110%;
	float:left;
	background-color:#F4F6F5;
	border:1px solid #E9E9E9;
	text-align: justify;
}

#part_right{
	width: 55%;
	float:right;
}

.clearfloat{
	clear:both;
}

/* form message*/
form[id="message"]{
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 0 auto;
    padding: 10px 20px 2px 20px;
    border: 1px solid #55B2CD;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

form[id="message"]>div{
    padding: 2px 0px 2px 20px;
    border-bottom: 1px solid #C2E5F0;
}

form[id="message"] .obli_star{
	color:#CC3300
}

.input_title{
	display:inline-block;
	width:135px;
}

form[id="message"] .long_text{
	border:1px solid #55B2CD;
	padding:1px;
	width:270px;
}

form[id="message"] #service_type_span{
	display: inline-block;
	vertical-align:top;
}

form[id="message"] #service_infos{
	display: inline-block;
	width:403px;
	height:70px;
	resize: vertical;
	border:1px solid #55B2CD;
}

#message_submit{
	font-size: 125%;
	font-weight: bold;
	display:inline-block;
    box-sizing: border-box;	
    width: 100px;
    height: 30px;
    vertical-align: top;
    margin:2px 0;
}

form[id="message"] label{
	display: inline-block;
	width:70px;
}

form[id="message"] .datepicker{
	width:115px;
	border:1px solid #55B2CD;
	padding:1px;
	margin-left: 3px;
}

#submit_div{
    padding:3px 0 0 0;
    text-align: center;
    border-bottom: none;
}

.ui-widget{
	font-size: 0.8em;
}


/* for homepage */
#content_home{
	width:900px;
	padding:20px 40px 10px 20px;
	margin:0 auto;
	font-size:120%;
}

#sloganblock{
	background-color: #F4F6F5;
	height:300px;
	overflow: hidden;
	text-align: center;
}

#slogantxt{
    font-size: 180%;
    font-weight: bold;
    color: white;
    margin: 0 20px;
    display: inline-block;
    width: 300px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8), 2px 3px 8px rgba(0,0,0,0.5), -2px -3px 16px rgba(0,0,0,0.5) !important;
    position: absolute;
    top: 65px;
    left: 50px;
}

#sloganimg{
    margin-left: 200px;
    margin-top: -80px;
    width: 720px;
    height:420px;

}

#iconblock{
	margin-top: -50px;
	text-align: center;
}

.home_icon{
	color:#333333;

	display: inline-block;
	/* 3 icons */
	/*margin:0 73px;*/

	/* 4 icons */
	margin:0 30px; 

	padding:7px;
	width:130px;
	height:120px;
	display:inline-block;
	background-color: white;

	/* cicle */
	/*border-radius: 75px;*/
	
	/* carre */
	/*border-radius: 30px;*/

	/* carre slide */
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;


    border: 3px solid #55B2CD;
	box-shadow: 
		0 2px 30px 0 rgba(0,0,0,0.12),
		2px 0 30px 0 rgba(0,0,0,0.12),
		0 -2px 30px 0 rgba(0,0,0,0.12),
		-2px 0 30px 0 rgba(0,0,0,0.12)
		!important;

	background-color:#55B2CD;
	vertical-align: middle;
}

.home_icon:hover{
	margin: -20px 30px 0 30px;
	background-color:#F1F1F1;
}

.home_icon img{
	padding:10px;
	width:80px;
	background-color: #55B2CD;
}
	

.home_icon:hover img{
	background-color:#F1F1F1;
}
.home_icon span{
	display: block;
	font-size:130%;
}
/********** content table **********/
.contact_row{
	margin-left:-40px;
}

.contact_cell{
	width:313px;
	min-height: 50px;
	box-sizing:border-box;
	padding-left:40px;
	display: table-cell;
}

.contact_card{
	position:relative;
	padding:50px 25px 0px;
	margin:50px auto;
	min-height: 100px;
	display:block;
	border:1px solid #55B2CD;

	background-color:#F3ED35;
	background-color:#C8FBF8;
    
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.contact_card .ttt{
	padding:5px 20px 5px 45px;
	background-color:#55B2CD;
	color:white;
	position:absolute;
	display:block;
	top: -15px;
    left: 25px;
    font-size: 110%;
}

.contact_icon{
	position:absolute;
	display:block;
	width:44px;
	height:44px;
	top: -7px;
    left: -7px;
	border-radius: 22px;
	background-repeat:no-repeat;
	background-size: 30px auto;
	background-position: center center;
	background-color:#55B2CD;
}

.addr{
	background-image:url(../icon_addr.png);
}
.tel{
	background-image:url(../icon_phone.png);
}
.email{
	background-image:url(../icon_email.png);
}

/********** form message **********/
[id^="message_optional_"]{
	display: none;
}

.big_button{
	display:inline-block;
	width:150px;
	padding:10px;
	text-align: center;
	font-size: 150%;
	color:#333333;
	border: 3px solid #55B2CD;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.12),
 		2px 0 20px 0 rgba(0,0,0,0.12),
 		0 -2px 15px 0 rgba(0,0,0,0.12),
 		-2px 0 15px 0 rgba(0,0,0,0.12) 
 		!important;
    background-color: #55B2CD;

    border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;

}
.big_button:hover{
    background-color: #F1F1F1;
}

.small_button{
	display:inline-block;
	color:#254B80;
	background-color:#55B2CD;
	border:1px solid #2E849E;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12),
 		2px 0 6px 0 rgba(0,0,0,0.12),
 		0 -1px 1px 0 rgba(0,0,0,0.12),
 		-1px 0 1px 0 rgba(0,0,0,0.12) 
 		!important;

    border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;

}
.small_button:hover{
    background-color: #C2E5F0;
}

.message_goto{
	margin-top: 120px;
	margin-left: 50px;
}

/********** footer **********/
#foot-area{
	height:100px;
	text-align:center;
}

#foot_name_1{
	font-weight: bold;
	font-size: 110%;
}
#foot_name_2{
	font-size: 110%;
    word-spacing: 2px;
/*	font-family:impact;*/
    
}
#foot_name_3{
	font-size: 110%;
    word-spacing: 2px;
/*	font-family:impact;*/
}

