html, body{
	padding:0px; 
	margin:0px;
	height:100%;
}

body{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	color:#333333;
	font-size:12px;
}

a{
	text-decoration: none;
}

img{
	border:none;
}

h1{
	font-size:120%;
	color: white;
	text-align:center;
	background-color:#55B2CD;
	padding:5px;
	margin: 0 0 15px 0;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

h2{
	font-size:110%;
	color: white;
	text-align:center;
	background-color:#55B2CD;
	padding:5px;
	margin: 20px 0 5px 0;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

h3{
	font-size:105%;
	color: #254B80;
	margin: 10px 0 0 0;
	border-bottom: 1px solid #55B2CD;
}

h2:first-child{
	margin: 0 0 5px 0;
}

.inl_blc{
	display: inline-block;
}

#content_right p:first-child{
	padding-top: 0px;
	margin-top: 0px;
}

#content_right li{
	margin-bottom: 5px;
}

em{
	font-style:normal;
	color:#254B80;
	padding:0 5px;
}

em:first-child{
	padding:0 5px 0 0;
}

#part_left em{
	font-size:120%;
	font-style: normal;
}

.bd{
	font-weight: bold;	
}

/* icon arrow */
.icon_arrow{
	box-sizing: content-box;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #0F2340;
}

.icon_white{
    border-color: transparent transparent transparent white;
}

#content_container{
	width:100%;
	min-height: 100%;
	position: relative;
}

.total_container{
	width:100%;
	min-width: 300px;
}

.total_container>*{
	max-width:960px;
	width:100%;
	box-sizing:border-box;
	margin:0 auto;
}

#container_header{
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 8px 0 rgba(0,0,0,0.12) !important;
	border-bottom:2px solid #55B2CD;
}

/* slide menu */
#slide_menu{
	position:fixed;
	width:250px;
	height:200%;
	left:-250px;
	background-color:#0E91B9; /* #55B2CD; */
	z-index: 30;
	visibility: hidden;
	overflow: hidden;

	-webkit-transition: left 0.3s; /* For Safari 3.1 to 6.0 */
    transition: left 0.3s;
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.16), 0 0 3px 5px rgba(0,0,0,0.12) !important;

}

#page_cover{
	position:fixed;
	display:none;
	left:0;
	background-color:rgba(153, 220, 241, 0.4);
	z-index: 20;
	width:100%;
	height:200%;

}

/*********** mobile **********/
/*head*/
#header{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;

	background-color:white;
}

#logoarea{
	display:block;
    width:100%;
    min-width: 280px;
    box-sizing:border-box;
	padding:10px 5px;
	margin-top:35px;
	text-align: center;
}

#logoarea>a{
	width:100%;
}

#logoarea .logoTop{
	width:100%;
	max-width: 400px;
}

#topFunctionArea{
	display: block;
	width:100%;
	min-height:35px;
	min-width: 280px;
    box-sizing:border-box;
	padding:12px 10px;
	background-color: white;

    box-shadow: 0 0 2px 3px rgba(0,0,0,0.16), 0 0 3px 5px rgba(0,0,0,0.12) !important;
/*    border-bottom: 2px solid #55B2CD; */

    position:fixed;
    top:0;
    z-index: 10;
}

#topFunctionArea .small_logo{
	opacity:0;
	position:absolute;
	left:40px;
	top:0px;

	-webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
}

.slide_top{
	width:250px;
	position:fixed;
	z-index:40;
	background-color:white;
}

.small_logo{
    box-sizing:border-box;
	height:35px;
	width:auto;
	padding:3px 0 2px 5px;
}

.small_logo img{
	width:300px;
}

#slideopen {
	position:absolute;
	left:0;
	top:0;
	height:35px;
	box-sizing: border-box;
}

#slideclose {
	position:absolute;
	right:0;
	top:0;
	box-sizing: border-box;
}

#slideopen img, #slideclose img{
	padding:9px 10px 5px 10px;
	height:21px;
	width:21px;
}

#slideclose img {
}

.slide_ul, .slide_li{
	list-style: none;
	margin:0;
	padding:0;
} 

.slide_item{
	display:block;
	position: relative;
	color:#0F1E33;
	font-size: 100%;

    background-repeat: no-repeat;
    background-size: 25px;
}

.slide_ul[data-level="1"]{
	margin:0;
	box-sizing:border-box;
	padding-top:35px;
	height:50%;
	overflow: auto;
}

.slide_li[data-level="1"]{
	border-bottom: 1px solid #68D4F5;
}

.slide_item.active:only-child{
	background-color: #D1F4FF;/*#BCEFFF;/*#9EE8FF;/*swhite;/*#28B6E2;*/
}

.slide_li[data-level="1"]:first-child>.slide_item.active:only-child{
	background-color: #0E91B9;
}

.slide_item[data-level="1"]{
	font-weight: bold;
	margin:0px;
	padding: 15px 15px 15px 45px;
    background-position: 15px;
}

.slide_li[data-level="1"]:first-child{
/*	border-top: 1px solid #044A5F;*/
}

.slide_li[data-level="1"]:first-child>.slide_item[data-level="1"]{
	border-top: 1px solid #68D4F5;
}

.slide_li[data-level="1"]>*:last-child{
/*	border-bottom: 1px solid #044A5F;*/
}

.slide_ul[data-level="2"]{
	margin:0px;
}

.slide_item[data-level="2"]{
	margin:0px;
	padding: 12px 10px 12px 80px;
    background-position: 45px;
}

.slide_li[data-level="2"]{
	margin:0px;
/*	border-top: 1px solid #1E738E; */
}

.slide_item[data-level="2"]{
	margin:0px;
/*	border-top: 1px solid #1FB2E0; */
}

.active .slide_item[data-level="2"]{
	margin:0px;
/*	border-top: 1px solid #31CEFF; */
}

.slide_item.active[data-level="2"]{
	margin:0px;
/*	border-top: 1px solid #E5F9FF; */
}

.slide_li.active[data-level="2"]{
/*	background-color: #78E1FF; */
}


#slideopen:hover, #slideclose:hover{
/*    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;*/
	opacity: 0.9;
}	

.tel400{
	display:none;
}

#menuarea{
	display:none;
}

/* middle */

#container_center{
	padding-bottom: 100px;
}

#center{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#content_right{
	box-sizing:border-box;
	padding:20px 10px 20px 10px;
	width:100%;
	max-width:600px;
	margin:0 auto;
	font-size:125%;
	text-align: justify;
}

#left_area{
	display:none;
}

.content_parts{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	box-sizing:border-box;
    padding:20px 10px;
    width:100%;
}

#part_left{
	width:100%;
	min-width:280px;
	max-width:500px;
	margin: 0 auto;
}

#part_right{
	width:100%;
	min-width:280px;
	max-width:500px;
	margin: 30px auto 0 auto;
}

/* contact */
#content_contact{
	width:100%;
	font-size:120%;

	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.contact_cell{
	width:100%;
	min-width: 300px;
	max-width: 420px;
	min-height: 50px;
	box-sizing:border-box;
	padding:10px;

	flex-grow:0.25;
	-webkit-flex-grow:0.25;

}

.contact_card{
	position:relative;
	box-sizing:border-box;
	padding:30px 10px 0px 50px;
	margin:25px auto;
	min-height: 150px;
	min-width: 220px;
	display:block;
	border:1px solid #55B2CD;

	background-color:#B8EFFF;
    
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.contact_card .ttt{
	padding:5px 20px 5px 45px;
	min-width: 65px;
	background-color:#55B2CD;
	color:white;
	position:absolute;
	display:block;
	top: -15px;
    left: 25px;
    font-size: 110%;
}

/* homepage*/
#sloganblock{
/*	display: none; */
}

#slogantxt{
    display: inline-block;
    margin: 5px auto 20px;
    position:relative;
    text-align: center;
}

#sloganimg{
    padding: 15px;
    width: 100%;
    max-width: 630px;
    box-sizing:border-box;
}
	
#iconblock{
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: center;

	display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;

}

.home_icon{
	display: inline-block;
	box-sizing:border-box;
	width:50%;
	margin-bottom: 20px;
}


/* form devis */
form[id="message"]{
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 0 auto;
    padding: 10px 5px;
    border: 1px solid #55B2CD;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;

    color:white;
    background-color:#55B2CD;

}

form[id="message"]>div{
    padding: 3px 2px;
    border-bottom: 1px solid #C2E5F0;
	border-bottom: 1px solid white;
    position: relative;
}

form[id="message"] .obli_star{
	color:#55B2CD;
	position:absolute;
	right:5%;
	bottom:8px;
}

.input_title{
	display:inline-block;
	width:100%;
	padding: 4px 0;
	font-weight: bold;
}

form[id="message"] .input_group{
    display: block;
}

form[id="message"] .long_text{
    box-sizing: border-box;
	width:100%;
}

form[id="message"] .obli_star{
	right:5%;
}	

.message_goto{
	margin-top: 30px;
	margin-left: 35%;
}

/* promotion */
#promo_container{
    position: absolute;
    top: 1px;

    right: 1px;
    width: 193px;
    height: 195px;

    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

#promo_shadowtop{
	display: none;
}

#promo_shadowright{
	display: none;
}

#promo_content{
    background-color: rgb(247, 76, 20);

	height: 47px;
    padding: 2px 65px;
    font-size: 90%;
    left: -61px;

    width: 280px;
    text-align: center;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8), 2px 3px 7px rgba(0,0,0,0.5), -2px -3px 20px rgba(0,0,0,0.5) !important;
    position: absolute;
    top: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50),0 4px 8px 0 rgba(0,0,0,0.25) !important;
}

@media only screen and (min-width: 500px) {
	{
	    height: 50px;
	    padding: 5px 65px;
	    font-size: 100%;
	    left: -65px;
	}
}

@media only screen and (min-width: 700px) {
	#promo_shadowtop{
		display: block;
	    width: 30px;
	    height: 9px;
	    background-color: #942703;
	    position: relative;
	    left: 0px;
	}

	#promo_shadowright{
		display: block;
	    width: 10px;
	    height: 30px;

	    background-color: #942703;
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	}

	#promo_content{
	    height: 64px;
	    padding: 10px 65px;
	    font-size: 120%;
	    left: -79px;
	}
}

@media only screen and (min-width: 980px) {
	#promo_container{
	    right: -7px;
	    width: 190px;
	    height: 191px;
	}

	#promo_shadowright{
	    width: 17px;
	}
}

@media only screen and (min-width: 320px) {
	form[id="message"]{
	    padding: 10px;
	}

	.message_goto{
		margin-top: 30px;
		margin-left: 40%;
	}

}

@media only screen and (min-width: 400px) {
	form[id="message"]>div{
	    padding: 3px 10%;
	}

	form[id="message"] .obli_star{
		color:white;
	}

	.message_goto{
		margin-top: 30px;
		margin-left: 50%;
	}
}

@media only screen and (min-width: 520px) {
	form[id="message"]>div{
	    padding: 3px 20px;
	}

	form[id="message"] .obli_star{
		right:10px;
		bottom:8px;
	}

	.message_goto{
		margin-top: 30px;
		margin-left: 50px;
	}

	.input_title{
		width:135px;
	}

	form[id="message"] .input_group{
	    display: inline-block;
	    vertical-align: middle;
	}

	form[id="message"] .input_group, form[id="message"] .long_text{
	    box-sizing: border-box;
		width:298px;
	}

}

/* tablet */
@media only screen and (min-width: 700px) {
	.total_container>*{
		padding:10px 10px 0 10px;
	}

	#logoarea{
		display:inline-block;
		margin-top:0;
		padding:0;
		width:280px;
		-webkit-order: -2;
	    order: -2;
	}

	#logoarea>a{
		width:auto;
	}

	#logoarea .logoTop{
		width:280px;
	}

	#topFunctionArea{
		padding:0 0 5px 0;
		display: inline-block;
		width:50%;
		background-color: white;
		-webkit-order: -1;
	    order: -1;

	    border-bottom: none;
	    box-shadow: none !important;
        position:static;
        align-self:flex-end;
	}

	#menuarea{
		display:inline-block;
		text-align: right;
		background-color: white;
        align-self:flex-end;
	}

	.tmn{
		margin:0 0 0 10px;
	}

	#header{
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;

	    height:100px;
	}

	#sloganblock{
		display:block;
	}

	#topFunctionArea .small_logo{
		opacity: 0;
	}

	#slideopen{
		display:none;
	}

	.tel400{
		display:block;
	}

	#content_right{
		box-sizing:border-box;
		width:600px;
	}


	#content_contact{
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
	}

	.contact_cell{
		width:45%;
		flex-grow:0;
		-webkit-flex-grow:0;
	}

	.home_icon{
		width:25%;
		margin-bottom: 0;
	}

	#iconblock{
		margin-bottom: 20px;
	}

	/* middle */
	#left_area{
		display:block;
		padding:20px 5px;
	}

	.left_ui_article[data-level="2"]>li>*, .left_ui_menu[data-level="2"]>li>*{ 
	    background-size: 25px;
	    background-position: 10px 50%;

    	width: 200px;
	    height:50px;
	    padding:2px 0 2px 10px;
    }

    .icon_white{
		right:5px;    
    }

	#content_right{
		margin:0;
		padding:20px 0 20px 20px;
	}
}


/* computer */
@media only screen and (min-width: 768px) {
	.total_container>*{
		padding:10px 10px 0 10px;
	}

	.contact_cell{
		padding:10px 0;
	}

	/* home page */
	#sloganblock{
		height:300px;
		overflow: hidden;
	}

	#slogantxt{
	    display: inline-block;
	    position: absolute;
	    margin: 0 20px;
	    top: 65px;
	    left: 50px;
	}

	#sloganimg{
		float:right;
	    padding: 20px 64px;
	    box-sizing:content-box;
	    width: 600px;
	}
	
	#sloganimg:after{
		clear:both;
	}

	#iconblock{
		margin-top: -50px;
	}

	/* middle */
	.left_ui_article[data-level="2"]>li>*, .left_ui_menu[data-level="2"]>li>*{ 
    	width: 250px;
	    height:50px;
	    padding:2px 0;

	    background-size: 30px;
	    background-position: 15px 50%;
    }

    .icon_white{
		right:10px;    
    }

}

@media only screen and (min-width: 800px) {
	.tmn{
		margin:0 0 0 20px;
	}

	/* middle */
	#left_area{
		display:block;
		padding:20px 5px;
	}

	.left_ui_article[data-level="2"]>li>*, .left_ui_menu[data-level="2"]>li>*{ 
    	width: 250px;
	    height:50px;
    }

    .icon_white{
		right:10px;    
    }

	#content_right{
		margin:0;
		padding:20px 0 20px 20px;
	}
}

@media only screen and (min-width: 840px) {
	/* middle */
	#left_area{
		display:block;
		padding:20px 5px;
	}

	.left_ui_article[data-level="2"]>li>*, .left_ui_menu[data-level="2"]>li>*{ 
    	width: 275px;
	    height:60px;
	    background-size: 35px;
	    background-position: 15px 50%;


    }

    .icon_white{
		right:16px;    
    }

	#content_right{
		margin:0;
		padding:20px 0 20px 20px;
	}

	.content_parts{
	    padding:20px 0;
	}

	#part_left{
		width:300px;
		margin: 0 50px 0 0;
		flex-grow:1;
		-webkit-flex-grow:1;
	}

	#part_right{
		width:500px;
		margin: 0 0 0 0;
	}

	.message_goto{
		margin-top: 120px;
		margin-left: 50px;
	}
}



#container_footer{
	position: absolute;
	bottom: 0px;
	background-color:#254B80;
	box-shadow:0 -2px 4px 0 rgba(0,0,0,0.16),0 -2px 4px 0 rgba(0,0,0,0.12) !important;
}

#container_footer>*{
	width:100%;
}

#foot_copyright, #foot_address, #foot_contact{
	display: inline-block;
}


/* function area */
.tel400{
	font-size: 16px;
	color:#254B80;

	margin-top: 5px;
	text-align: right;
}

.tel400_number{
	font-weight: bold;
	color:#CC3300;

	padding-left:25px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
	background-image:url(../tel400.png);
}

.langlink{
	display: block;
	width:100%;
	text-align: right;
	font-size: 80%;
}

.langicon{
	color:#254B80;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    margin-left:12px;
    font-size: 120%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lgcn{
	padding-right:27px;
	background-image:url(../lang_cn.png);
}

.lgcntr{
	padding-right:27px;
	background-image:url(../lang_cntr.png);
}

.lgfr{
	padding-right:27px;
	background-image:url(../lang_fr.png);
}

.lgen{
	padding-right:27px;
	background-image:url(../lang_en.png);
}

/* company and secteur name */
.tred, .tred *{
	color:#CC3300 !important;
}

.tblue, .tblue *{
    color: #254B80;
}

#company_name {
    display: inline-block;
    font-size: 200%;
    font-weight: bold;
}

#sercteur_name {
    display: inline-block;
    padding-left:30px;
	letter-spacing: 1px;
    font-size: 140%;
    font-weight: bold;
}

#company_name_lang2 {
    display: block;
    font-size: 160%;
    word-spacing: 7px;
	letter-spacing: 1px;
    font-family: impact;
}

#sercteur_name_lang2 {
    display: inline-block;
    font-size: 120%;
    word-spacing: 1px;
    font-family: impact;
}

/********************/
#topemenu_ui{
	display:inline-block;
	list-style: none;
    margin: 0;
    padding:0;
}

#crttitle{
	font-size:150%;
	color: white;
	text-align:center;
	background-color:#55B2CD;
	padding:40px 0 10px 0;
	position:absolute;
	bottom:0px;
	width: 100%;
	font-weight: bold;
}

.crt{
	/*background-color: #55B2CD;*/
	border-top: 3px solid #CC3300;
}

.tnc{
	font-weight:bold;
	font-size:200%;
	color:rgb(192,0,0);
}
.tne{
	font-weight:bold;
	font-size:180%;
	color:rgb(84, 141,212);
}

.tmn:hover, .tmn a:hover, .tmn:active, .tmn a:active{
	color:#55B2CD;
}
.tft{
	font-size:80%;
	color:#F1F1F1;
	padding:20px 0 0 0;
    display: inline-block;
    max-width: 600px;
}

.card{
	position:relative;
	font-size:80%;
	padding:25px 25px 20px 25px ;
	width:60%;
	margin:20px auto;
	display:block;
	border:1px solid #55B2CD;
	background-color:white;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.cardbig{
	position:relative;
	font-size:100%;
	padding:25px 25px 20px 25px ;
	width:100%;
	box-sizing:border-box;
	margin:0 0 35px auto;
	display:block;
	border:1px solid #55B2CD;
	background-color:white;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

.cardbig:last-child{
	margin:20px 0 15px auto;
}

.card .ttt, .cardbig .ttt{
	padding:5px 20px;
	background-color:#55B2CD;
	color:white;
	position:absolute;
	display:block;
	top: -15px;
    left: 40px;
}

#center{
	margin-top:0;
	margin-bottom:0;
	position:relative;
/*	min-height:440px; */
/*	overflow: scroll;*/
/*	border-left:1px solid #F6F8F9;
	border-right:1px solid #F6F8F9;
	border-left:3px dashed #B0DBE8;
	border-right:3px dashed #B0DBE8;
*/}

#center::-webkit-scrollbar {
    width: 0em;
}

/* for content with submenu */
#left_menu_inner{
	padding:0 0;
}

#left_menu_inner ul{
	list-style: none;
	margin:0px;
	padding:0px;
	text-align: center;
}

.left_ui_article[data-level="2"]>li>*, .left_ui_menu[data-level="2"]>li>*{ 
	position: relative;

    background-repeat: no-repeat;

	box-sizing: border-box;
    margin-bottom:10px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    
}

.item-txt{
	display: block;
	width:140px;
}

.left_ui_article[data-level="3"]>li>a, .left_ui_menu[data-level="3"]>li>a{
	display:block;
	font-size:130%;
	font-weight:bold;
	color:white;
	background-color:#254B80;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.16),2px 3px 8px 0 rgba(0,0,0,0.12) !important;
	padding:5px 20px;
	margin-bottom:10px;
	width:170px;
}

.left_article>a:hover, .left_menu>a:hover{
	background-color:#376FBE;
}


.left_article_active, .left_menu_active{
    box-shadow: 0 -1px 0 0 #E6E6E6, -1px 0 0 0 #EEEEEE !important;
    font-weight: bold;
}

.left_article>a, .left_menu>a{
	color:white;
	background-color:#254B80;
}


/* for page with part left and right*/
#part_left{
	box-sizing:border-box;
	padding:10px 20px;
	font-size: 125%;
	background-color:#F4F6F5;
	border:1px solid #E9E9E9;
	text-align: justify;
}

/* form message*/
form[id="message"] .alTop{
    vertical-align: top;	
}

form[id="message"] .long_text, form[id="message"] .datepicker{
	border:1px solid #55B2CD;
	padding:4px 0;
	margin:2px 0;
}

form[id="message"] #service_infos{
	display: inline-block;
	box-sizing: border-box;
	width:100%;
	height:70px;
	resize: vertical;
	border:1px solid #55B2CD;
}

form[id="message"] input[type="file"]{
    box-sizing: border-box;
    padding: 2px;
    margin: 2px 0;
}


#uploadAnimation{
    z-index: 100;
	display: none;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
}

#uploadCenter{
	position:relative; 
	top:50%;
	max-width: 50%;
	padding:10px 5px;
	margin:-60px auto auto;
	background-color: rgba(255,255,255,0.8);
}

#uploadPercent{
    padding:5px;
    font-weight: bold;
}

#submit_div{
    padding:3px 0 0 0;
    text-align: center;
    border-bottom: none;
}

.ui-widget{
	font-size: 0.8em;
}

/* feedback form */
form[id="feedback"]{
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    border: 1px solid #55B2CD;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16),2px 3px 6px 0 rgba(0,0,0,0.12) !important;
}

form[id="feedback"]>div>div{
    padding: 2px 10px 2px 10px;
    border-bottom: 1px solid #C2E5F0;
}

form[id="feedback"] #feedback_infos{
	display: inline-block;
	width:417px;
	height:70px;
	resize: vertical;
	border:1px solid #55B2CD;
}

form[id="feedback"] label{
	display: inline-block;
	padding-right:10px;
}

.input_title_long{
	display:inline-block;
	padding-top:10px;
	width:100%;
}

.score_format{
	display:inline-block;
	padding-top:10px;
	width:100%;
	text-align: center;
	font-weight: bold;
}

.formname{
	display:inline-block;
	padding:10px;
	width:100%;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}

.employee_name{
	display:inline-block;
	padding-top:20px;
	font-weight: bold;
	color: #2E849E;
}

.question_group{
	padding-left:20px;
}

/* for homepage */
#content_home{
	width:100%;
	font-size:120%;
}

#sloganblock{
	background-color: #F4F6F5;
	text-align: center;
}

#slogantxt{
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8), 2px 3px 8px rgba(0,0,0,0.5), -2px -3px 16px rgba(0,0,0,0.5) !important;
}

.home_icon a{
	color:#333333;
	display: inline-block;
	position:relative;
	bottom:0px;

	/* 3 icons */
	/*margin:0 73px;*/

	/* 4 icons */
	padding:7px;
	width:120px;
	height:120px;
	display:inline-block;

	/* cicle */
	/*border-radius: 75px;*/
	
	/* carre */
	/*border-radius: 30px;*/

	/* carre slide */
	-webkit-border-radius:10px 50px 10px 50px;
	-moz-border-radius:10px 50px 10px 50px;
	border-radius:10px 50px 10px 50px;

    border: 3px solid #55B2CD;
	box-shadow: 
		0 2px 30px 0 rgba(0,0,0,0.12),
		2px 0 30px 0 rgba(0,0,0,0.12),
		0 -2px 30px 0 rgba(0,0,0,0.12),
		-2px 0 30px 0 rgba(0,0,0,0.12)
		!important;

	background-color:#55B2CD;
	vertical-align: middle;

/*	behavior: url(/htc/PIE.htc);*/
}

.cssanime:hover a{
	bottom:20px;
	background-color:#F1F1F1;
}

.home_icon a:active{
	background-color:#F1F1F1;
}

.home_icon img{
	padding:10px;
	width:70px;
	background-color: #55B2CD;
}
	

.cssanime:hover img{
	background-color:#F1F1F1;
}

/* for contact */

/********** content table **********/
.contact_icon{
	position:absolute;
	display:block;
	width:44px;
	height:44px;
	top: -7px;
    left: -7px;
	background-repeat:no-repeat;
	background-size: 30px auto;
	background-position: center center;
	background-color:#55B2CD;

	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}

.addr{
	background-image:url(../icon_addr.png);
}
.tel{
	background-image:url(../icon_phone.png);
}
.email{
	background-image:url(../icon_email.png);
}
.wechat{
	background-image:url(../icon_wechat.png);
}

/********** form message **********/
[id^="message_optional_"]{
	display: none;
}

.big_button{
	display:inline-block;
	width:150px;
	padding:10px;
	text-align: center;
	font-size: 18px;
	color:#333333;
	border: 3px solid #55B2CD;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.12),
 		2px 0 20px 0 rgba(0,0,0,0.12),
 		0 -2px 15px 0 rgba(0,0,0,0.12),
 		-2px 0 15px 0 rgba(0,0,0,0.12) 
 		!important;
    background-color: #55B2CD;

    border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;

}

.small_button:hover, .link_button:hover{
    background-color: #C2E5F0;
}

.small_button, .link_button{
	display:inline-block;
	color:#2E849E;
	background-color:white;
	border:1px solid #2E849E;
	width:50%;

    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12),
 		2px 0 6px 0 rgba(0,0,0,0.12),
 		0 -1px 1px 0 rgba(0,0,0,0.12),
 		-1px 0 1px 0 rgba(0,0,0,0.12) 
 		!important;

    border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.link_button{
	color:white;
    font-size: 110%;
    font-weight: bold;
    display:inline-block;
    box-sizing: border-box; 
    min-width: 150px;
    max-width: 180px;
    width: 45%;
    padding:10px 0;
    text-align: center;
    margin:5px;
	background-color:#2E849E;
	border:1px solid #2E849E;
}

.link_button:hover{
    background-color: #53A8C1;
}

.big_button:hover{
    background-color: #F1F1F1;
}

.ui-widget-header .ui-icon {
    background-image: url("../ui-icons.png");
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../ui-icons.png");
}

/********** footer **********/
#foot-area{
	height:100px;
	text-align:center;
}

#foot_name_1{
	font-size: 110%;
    word-spacing: 2px;
}
#foot_name_2{
	font-size: 110%;
    word-spacing: 2px;
/*	font-family:impact;*/
    
}
#foot_name_3{
	font-size: 110%;
    word-spacing: 2px;
/*	font-family:impact;*/
}

#foot_address span, #foot_tel span, #foot_fax span, #foot_contact span{
	display:inline-block;
	padding-left:5px;
}	